body {
  width: 1440px;
  height: 1767px;
  background: #22212c;
}
#profile {
  display: flex;
  margin: 40px;
  width: 348px;
  height: 292px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#about a {
  position: absolute;
  margin: 250px 0px 0px 170px;
  font-family: Merriweather Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}
body p {
  position: absolute;
  margin: 180px 0px 0px 90px;
  width: 260px;
  height: 26px;
  flex-shrink: 0;
  color: white;
  font-family: Merriweather Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h5 p {
  position: absolute;
  text-align: center;
  margin: 210px 0px 0px 150px;
  width: 128px;
  height: 17px;
  flex-shrink: 0;
  color: white;
  font-family: Merriweather Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#image {
  margin: 30px 40px 40px 110px;
  width: 128px;
  height: 128px;
  flex-shrink: 0;
  border-radius: 128px;
  border: 3px solid #0f0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#social {
  margin: 40px;
  width: 348px;
  height: 348px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#social a {
  text-decoration: none;
  color: white;
}
#social a:hover {
  text-decoration: none;
}
div ul li {
  color: white;
  font-family: Merriweather Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  padding-top: 26px;
  text-decoration: none;
}

div ul li ion-icon {
  width: 24px;
  height: 24px;
  padding-right: 20px;
}
#projects {
  margin: 0px 0px 1641px 120px;
  display: flex;
  width: 952px;
  height: 86px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#projects h5 {
  position: absolute;
  margin: 30px 0px 0px 30px;
  width: 121px;
  height: 26px;
  flex-shrink: 0;
  color: white;
  font-family: Merriweather Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#technology {
  margin: 40px;
  width: 348px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
body .technology {
  margin: 20px 0px 0px 30px;
  width: 121px;
  height: 26px;
  flex-shrink: 0;
  font-family: Merriweather Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.table-technology td {
  padding: 5px;
  display: inline-table;
  width: 86px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #cb92b1;
  text-align: center;
  margin: 15px 0px 0px 15px;
  color: #000;
  text-align: center;
  font-family: Merriweather Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#experiences {
  margin: 40px;
  width: 348px;
  height: 349px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#experiences h5 {
  width: 141px;
  height: 26px;
  flex-shrink: 0;
  color: white;
  font-family: Merriweather Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  margin: 30px 0px 0px 30px;
  list-style-type: none;
}

#listexp ul li h3 {
  color: white;
  font-family: Merriweather Sans;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  list-style-type: none;
}
li h3 {
  position: absolute;
  margin: 40px 0px 0px 20px;
  font-size: 20px;
}

#listexp li h4 {
  position: absolute;
  margin: 65px 0px 0px 50px;
  font-family: Merriweather Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#footer_about {
  color: white;
  margin: 40px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#textcontent {
  padding: 0px 20px;
  text-align: justify;
  font-family: Merriweather Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
#aboutme {
  position: absolute;
  margin: 45px 0px 0px 50px;
  height: 300px;
  width: 700px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

#contact {
  position: absolute;
  margin: 45px 0px 0px 800px;
  height: 300px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
